[Unit]
Description=Apply Bluefin first-boot system credentials
Documentation=man:systemd.system-credentials(7) file:/usr/libexec/bluefin-firstboot-credentials
ConditionPathIsReadWrite=/etc
DefaultDependencies=no
After=systemd-remount-fs.service systemd-sysusers.service systemd-tmpfiles-setup.service
Before=sysinit.target systemd-networkd.service
ConditionPathExists=!/etc/.bluefin-firstboot-credentials
ConditionCredential=|firstboot.locale
ConditionCredential=|firstboot.locale-messages
ConditionCredential=|firstboot.keymap
ConditionCredential=|firstboot.timezone
ConditionCredential=|firstboot.hostname

[Service]
Type=oneshot
ImportCredential=firstboot.locale
ImportCredential=firstboot.locale-messages
ImportCredential=firstboot.keymap
ImportCredential=firstboot.timezone
ImportCredential=firstboot.hostname
ExecStart=/usr/libexec/bluefin-firstboot-credentials
ExecStartPost=/usr/bin/touch /etc/.bluefin-firstboot-credentials
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
