[Unit]
Description=Activate k0s sysext after first installation
ConditionPathExists=!/var/lib/k0s/.first-boot-complete
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
StateDirectory=k0s
Restart=on-failure
RestartSec=30s
ExecStart=/usr/bin/systemctl enable --now systemd-sysext.service
ExecStart=/usr/bin/systemd-sysext merge
ExecStart=/usr/bin/systemd-tmpfiles --create /usr/lib/tmpfiles.d/k0s-manifests.conf
ExecStart=/usr/bin/systemctl daemon-reload
ExecStart=/usr/bin/systemctl enable --now k0scontroller.service
ExecStartPost=/usr/bin/touch /var/lib/k0s/.first-boot-complete

[Install]
WantedBy=multi-user.target
